NEXT_PUBLIC_SITE_URL=https://binfitlab.com
NEXT_PUBLIC_PUBLIC_RELEASE=false
NEXT_PUBLIC_RELEASE_CHANNEL=preview
NEXT_PUBLIC_CONTACT_EMAIL=yiwangyuai@gmail.com
NEXT_PUBLIC_SOURCE_URL=https://github.com/dbshiwiejsjdjdjjdj121-sketch/binfitlab
